<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <style>
      table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <form>
      <input name="userid" placeholder="유저id 등록" />
      <input name="userName" placeholder="사용자 이름" />
      <input name="text" placeholder="방멱록" />
      <button type="submit">등록</button>
    </form>
    <button onclick="createData()">테스트용</button>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>작성자</th>
          <th>방명록</th>
          <th>수정</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < visitor.length; i++) { %>
        <tr id="tr_<%= visitor[i].id %>">
          <td><%= visitor[i].id %></td>
          <td>
            <a href="/visitor/detail/<%= visitor[i].id %>"
              ><%= visitor[i].name %>
            </a>
          </td>
          <td><%= visitor[i].comment %></td>
          <td>
            <button type="button" onclick="updatePage('<%= visitor[i].id %>')">
              수정
            </button>
          </td>
          <td>
            <button
              type="button"
              onclick="deleteVisitor('<%= visitor[i].id %>')"
            >
              삭제
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <script>
    const createData = () => {
      axios({
        method: "post",
        url: "/visitor/post/test",
        data: { userid: 3, name: "테스트", comment: "테스트 테스트" },
      })
        .then((res) => {
          alert("등록성공");
          window.location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    };

    const deleteVisitor = (id) => {
      axios({
        method: "delete",
        url: `/visitor/delete/${id}`,
      })
        .then((res) => {
          alert("삭제성공!");
          window.location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    };

    const updatePage = (id) => {
      window.location.href = `/visitor/write/${id}`;
    };
  </script>
</html>
